/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* normalize */
/*********************
html & body
*********************/
body {
  margin: 0;
  background-color: #f9f9f9;
}

::selection {
  background-color: #2F3444;
  color: #5FA9DD;
}

::-moz-selection {
  background-color: #2F3444;
  color: #5FA9DD;
}

/*********************
links
*********************/
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

a:visited {
  color: #222;
  text-decoration: none;
}

/*********************
list
*********************/
ul {
  list-style: none;
}

/* typography */
/*********************
typography
*********************/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 2em;
}

b,
strong,
.strong {
  font-weight: bold;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

q:before,
q:after {
  content: '';
  content: none;
}

small, .small {
  font-size: 75%;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul {
  margin: 0;
  padding: 0;
}

/* breakpoint */
/******************************************
Base CSS (MOBILE)
******************************************/
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}

/*********************
HEADER STYLES
*********************/
.main-header {
  height: 48px;
  width: 100%;
  top: 0;
  z-index: 9999;
  /* background: #2F3444; */
  font-size: 14px;
  color: #fff;
  position: fixed;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.main-inner-header {
  height: 100%;
  width: 1170px;
  top: 0;
  margin: 0 0 0 50px;
}

.logo {
  height: 100%;
  width: 36px;
  float: left;
}
.logo img {
  height: 34px;
  margin-top: 7px;
}

#main-menu {
  margin-left: 36px;
  border: 0;
  float: left;
}
#main-menu ul {
  margin: 0;
}
.main-menu-item {
  height: 36px;
  width: 96px;
  margin-top: 4px;
  padding-top: 10px;
  float: left;
  text-align: center;
  border-radius: 2px;
}

.main-menu-item:hover {
  background-color: rgba(250, 250, 250, 0.97);
  font-weight: 600;
  color: #202228;

}

#main-menu li ul.hidden_list {
  width: 300px;
  top: 48px;
  z-index: 9999;
  background: rgba(250, 250, 250, 0.97);
  color: #202228  ;
  position: absolute;
  visibility: hidden;

}

#main-menu li ul.hidden_list li {
  padding:12px 20px;
  font-weight: 400;
  text-align: left;
}

#main-menu li ul.hidden_list li:hover {
  background: #fff;
}

#main-menu li ul.hidden_list li a:hover {
  color: #5FA9DD;
}

#main-menu li:hover ul {
  visibility: visible;
}

/*********************
top intro
*********************/
#topintro {
  display: block;
  position: relative;
}
#topintro img {
  width: 100%;
  z-index: 0;
}
#topintro .topintro-comment {
  width: 100%;
  top: 98px;
  margin: 0 auto;
  z-index: 10;
  color: #fff;
  position: absolute;
  display: block;
}
#topintro .topintro-comment h2 {
  padding-left: 48px;
  font-size: 3.5em;
  line-height: 1;
}
#topintro .topintro-comment h3 {
  font-size: 1.4em;
  padding-left: 50px;
}

/*********************
main content
*********************/
.main {
  background-color: #fff;
  top: 420px;
  width: 1170px;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  border-radius: 2px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.18);
}

.main .search-sidebar {
  height: 300px;
  width: 200px;
  float: left;
  background-color: #fff;
  border-radius: 3px;
  margin: 25px 0 0 50px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.18);
  font-size: 14px;
  color: #515151;
}

.main .search-sidebar ul li {
  margin: 6px 0 6px 12px;
}

.main .hentry {
  width: 860px;
  margin-right: 20px;
  float: right;
}


.hentry {
  background-color: #fff;
  margin-top: 24px;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.18);
}

.article-header .update-time {
  padding: 4px 4px 4px 0;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.entry-meta {
  padding: 4px 0 8px;
}

.category-btn {
  height: auto;
  padding: 4px 14px;
  margin-bottom: 4px;
  background-color: #fff;
  font-size: 13px;
  color: #515151;
  border: solid 1px #d9d9d9;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  text-decoration: none;
  display: inline-block;
}

.category-btn a {
}
.category-btn a:visited {
}

.category-btn a:hover li {
  background-color: #5FA9DD;
}

/*********************
footer
*********************/
.footer {
  margin: 80px 0 40px;
  text-align: center;
  clear: both;
}
.footer li {
  color: #5FA9DD;
  font-weight: bold;
  margin: 40px 0;
}
.footer p {
  color: #C0C0C0;
}

/******************************************
                search page
******************************************/
#search-topintro {
  height: 280px;
  background-color: #2F3444;
  display: block;
  position: relative;
}
#search-topintro .search-topintro-comment {
  width: 100%;
  top: 80px;
  margin: 0 auto;
  z-index: 10;
  color: #fff;
  text-align: center;
  position: absolute;
  display: block;
}
#search-topintro .search-topintro-comment h2 {
  font-size: 2em;
  line-height: 1;
}
#search-topintro .search-topintro-comment h3 {
  font-size: 1.6em;
}

.search-main {
  background-color: #fff;
  top: 150px;
  width: 1170px;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
}



.search-main .search-sidebar {
  height: 300px;
  width: 200px;
  float: left;
  background-color: #fff;
  border-radius: 3px;
  margin: 25px 0 0 50px;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.18);
  font-size: 14px;
  color: #515151;
}

.search-main .hentry {
  width: 860px;
  margin-right: 20px;
  float: right;
}


.search-main .search-sidebar ul li {
  margin: 6px 0 6px 12px;
}

