    <footer class="footer" role="contentinfo">
      <nav role="navigation">
        <ul>
          <li>ABOUT</li>
        </ul>
      </nav>
      <p class="copyright">&copy; 2014 DIG MIXX</p>
    </footer>
  </div>