  <div id="container">

    <header class="main-header" role="banner">

      <div class="main-inner-header">
        <div class="logo">
<<<<<<< HEAD
          <a href="/"><img src="/assets/logo_digmixx.png" alt="digmixx_logo" ></a>
=======
          <img src="/assets/logo_digmixx.png" alt="digmixx_logo" >
>>>>>>> f26ea3be5202ecfe5f89bd5fe5984ed8f9dfa5d8
        </div>
        <nav id="main-menu" role="navigation">
          <ul id="main-header-menu" class="nav top-nav">
            <li class="main-menu-item"><a href="">今の気分</a></li>
            <li class="main-menu-item"><a href="">ジャンル</a></li>
            <li class="main-menu-item"><a href="">アーティスト</a></li>
            <li class="main-menu-item"><a href="">イベント</a></li>
         </ul>
        </nav>
      </div>

    </header>