  <div id="container">

    <header class="main-header" role="banner">

      <div class="main-inner-header">
        <div class="logo">
          <a href="/"><img src="/assets/logo_digmixx.png" alt="digmixx_logo" ></a>
        </div>
        <nav id="main-menu" role="navigation">
          <ul id="main-header-menu" class="nav top-nav">
            <li class="main-menu-item">今の気分
              <ul class="hidden_list">
                <% @mood.each do |tags| %>
                  <li><a href="<%= search_path(tags.id) %>"><%= tags.tagname %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="main-menu-item">ジャンル
              <ul class="hidden_list">
                <% @genre.each do |tags| %>
                  <li><a href="<%= search_path(tags.id) %>"><%= tags.tagname %></a></li>
                <% end %>
              </ul>
            </li>
            <li class="main-menu-item">アーティスト</li>
            <li class="main-menu-item">イベント</li>
         </ul>
        </nav>
      </div>

    </header>